<div class="bg-black w-full overflow-hidden ">
  <div class="container w-full max-w-5xl mx-auto md:py-1 px-4 text-center flex items-center justify-between ">
    <figure class="w-20 h-20 flex justify-center items-center">
      <img src="../../public/images/logo.jpg" class="object-cover" ></img>
    </figure>
    <nav class="text-white flex flex-col sm:flex-row justify-center items-end sm:items-start ">
      <a href="#" class="font-semibold sm:text-lg " >Characters</a>
      <a href="#/search" class="font-semibold sm:text-lg md:ml-10 min-w-max" >Search characters</a>
    </nav>
  </div>
</div>